doctype html
html
  head
    title 404 Page Not Found
    style.
      body {
        font-family: sans-serif;
        text-align: center;
        background-color: #f0f0f0;
      }
      h1 {
        font-size: 2em;
        color: Black;
      }
  body
    h1 404 Page Not Found
    p The page you are looking for could not be found.
    a(href='/') Back to Home