doctype html
html
  head
    title 404 Error
    style.
      body {
        font-family: sans-serif;
        height:95vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
      }
            h1 {
        font-size: 36px;
      }
  body
    h1 404 Error
    p The requested page was not found.
    a.button(href='/') Home